/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/************End Reset**************/
/************Global**************/
body {
  background: #fff;
  color: #333333;
  font: 120%/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  padding: 1em;
  -webkit-text-size-adjust: 100%; }
  @media all and (min-width: 40em) {
    body {
      padding-left: 2em; } }

a {
  font-size: 1rem;
  color: #4d96ce; }

a:hover, a:focus {
  color: #3c77a5; }

p {
  margin: 0 0 1em; }

img, object, video {
  max-width: 100%;
  border: 0; }

a img {
  border: 0;
  outline: 0; }

h1 {
  font-size: 2em;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 300;
  margin-bottom: 0.8em; }

h2 {
  text-transform: lowercase;
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.4em; }

h3 {
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 0 0.2em;
  text-transform: lowercase; }

/************End Global**************/
/************Timeline**************/
/* Timeline Container */
.timeline {
  /*border-left: 6px solid #666666;*/
  padding-bottom: 3em;
  position: relative; }
  .timeline:after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: 20px;
    left: -1px;
    width: 6px;
    background: #666666;
  }
  .timeline:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 26px;
    height: 26px;
    border-radius: 40px;
    background: #666666;
    border: 4px solid #666666; }

/* Individual Timeline Item */
.tl-node {
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative; }
  .tl-node a {
    display: block; }
  .tl-node:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -9px;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background: #fff;
    border: 4px solid #666666; }

/* Timestamp */
.tl-stamp {
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: gray; }

/************End Timeline**************/
